<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSDynamicForm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0952F6801E4A2E0100524BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0952F6991E4A2E0100524BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0952F6A41E4A2E0100524BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
